extends ./../../template/layout.pug

block metatags
  title= 'Таблички на дверь кабинета ' + city.city + ', заказать изготовление таблички на дверь кабинета, купить'
  meta(name="description", content='Таблички на дверь кабинета ' + city.city + ', заказать изготовление таблички на дверь кабинета, купить. Цена от 500 руб.')
  meta(name="keywords" content='Заказать табличку на дверь ' + city.city + ', таблички на дверь офиса ' + city.prepositionalCity + ', таблички на дверь кабинета')
     
block styles
  link(rel="stylesheet", type="text/css", href="/dist/css/tabl.css")

block content
  include ./header.pug
  include ./form-calculation.pug
  include ./materials.pug
  include ./video.pug
  include ./seo-text.pug
  include ./reviews.pug
  include ./order-payment.pug
  include ./delivery.pug