section.delivery#delivery
    .container
        .delivery__block
            .content__block
                .content__block_label
                    h2 Доставка
                .content__block_text
                    p Мы предлагаем качественные уличные указатели и таблички с возможностью заказать доставку на дом. Для этого у нас работают курьеры. Также вы можете приехать в пункт самовывоза и забрать свой заказ.
                    p Или закажите отправку почтовыми службами. Для этого понадобится полная предоплата на расчетный счет.
                    p= 'С информацией о возврате можно ознакомиться '
                        a(href="/vozvrat.txt") здесь
                        span .
            .delivery__block_logo
                img(src="/dist/image/delivery/cdek.png", alt="CDEK")
                img(src="/dist/image/delivery/dpd.png", alt="dpd")
                img(src="/dist/image/delivery/dhl.png", alt="DHL")
                img(src="/dist/image/delivery/postmailru.png", alt="Почта России")
            .delivery__block_man
                
                

