extends ./../../template/layout.pug

block metatags
  title= 'Купить табличку на подъезд ' + city.city + ', заказать изготовление табличек на подъезд с номерами квартир'
  meta(name="description", content='Купить табличку на подъезд ' + cit-city + ', заказать изготовление табличек на подъезд с номерами квартир, цена')
  meta(name="keywords" content='Таблички на подъезд ' + city.city + ', таблички на подъезд с номерами квартир ' + city.prepositionalCity + ', заказать изготовление таблички на подъезд')
        
block styles
  link(rel="stylesheet", type="text/css", href="/dist/css/tabl.css")

block content
  include ./header.pug
  include ./form-calculation.pug
  include ./materials.pug
  include ./video.pug
  include ./seo-text.pug
  include ./reviews.pug
  include ./order-payment.pug
  include ./delivery.pug