extends ./../../template/layout.pug

block metatags
  title= 'Стенды для детского сада ' + city.city + ', заказать стенд-уголок информации для родителей ДОУ'
  meta(name="description", content='Стенды для детского сада ' + city.city + ', заказать стенд-уголок информации для родителей ДОУ, цена от 1200 руб')
  meta(name="keywords" content='Заказать стенд для детского сада ' + city.city + ', стенд уголок доу ' + city.prepositionalCity + ', стенд информации для родителей')
 
block styles
  link(rel="stylesheet", type="text/css", href="/dist/css/stand.css")

block content
  include ./header.pug
  include ./form-calculation.pug
  include ./materials.pug
  include ./video.pug
  include ./seo-text.pug
  include ./reviews.pug
  include ./order-payment.pug
  include ./delivery.pug