section.delivery#delivery
    .container
        .delivery__block
            .content__block
                .content__block_label
                    h2 Доставка адресных табличек
                .content__block_text
                    p Выбирайте красивую табличку на фасад частного дома с доставкой. Мы тщательно упаковываем готовые изделия, чтобы они не повредились при транспортировке.
                    p Также вы можете забрать свой заказ самостоятельно. Для этого у нас работают точки самовывоза.
            .content__block
                .content__block_label
                    h2= 'Доставка табличек курьером'
                .content__block_text
                    p= 'Доставим домовой знак в частный сектор курьером, если вы хотите получить качественный адресный знак, не покидая дома.'
                    p= 'Обязательно позвоним, сообщим, что ваш заказ готов и согласуем время приезда курьера. Услуга курьерской доставки оплачивается отдельно.'
                    p= 'С информацией о возврате можно ознакомиться '
                        a(href="/vozvrat.txt") здесь
                        span .
                    
            .delivery__block_logo
                img(src="/dist/image/delivery/cdek.png", alt="CDEK")
                img(src="/dist/image/delivery/dpd.png", alt="dpd")
                img(src="/dist/image/delivery/dhl.png", alt="DHL")
                img(src="/dist/image/delivery/postmailru.png", alt="Почта России")
            .delivery__block_man
                
                

