footer.foot
    
    .container
        .foot__breadcrumbs
        .foot__sites
            //- if city.cityEn
            //-     .sites__block
            //-         a(href="http://" + city.cityEn + ".adresnie-tablichki.ru") Адресные таблички (главная)
            //-     .sites__block
            //-         a(href="http://" + city.cityEn + ".adresnie-tablichki.ru/adresnie-znaki-na-dom-s-nomerom") Домовые адресные знаки
            //-     .sites__block
            //-         a(href="http://" + city.cityEn + ".adresnie-tablichki.ru/adresniy-anshlag-na-dom") Адресные аншлаги на дом
            //-     .sites__block
            //-         a(href="http://" + city.cityEn + ".adresnie-tablichki.ru/adresniy-ukazatel-na-dom") Адресные указатели на дом
            //-     .sites__block
            //-         a(href="http://" + city.cityEn + ".adresnie-tablichki.ru/adresniy-viveska-na-dom") Адресные вывеска на дом
            //-     .sites__block
            //-         a(href="http://" + city.cityEn + ".adresnie-tablichki.ru/tablichki-s-adresom-na-dom") Таблички с адресом на дом
            //-     .sites__block
            //-         a(href="http://" + city.cityEn + ".adresnie-tablichki.ru/tablichki-s-nazvaniem-ulicy") Таблички с названием улицы
            //-     .sites__block
            //-         a(href="http://" + city.cityEn + ".adresnie-tablichki.ru/tablichki-s-nomerom-doma") Таблички с номером дома
            //- else
            //-     .sites__block
            //-         a(href="http://adresnie-tablichki.ru") Адресные таблички (главная)
            //-     .sites__block
            //-         a(href="http://adresnie-tablichki.ru/adresnie-znaki-na-dom-s-nomerom") Домовые адресные знаки
            //-     .sites__block
            //-         a(href="http://adresnie-tablichki.ru/adresniy-anshlag-na-dom") Адресные аншлаги на дом
            //-     .sites__block
            //-         a(href="http://adresnie-tablichki.ru/adresniy-ukazatel-na-dom") Адресные указатели на дом
            //-     .sites__block
            //-         a(href="http://adresnie-tablichki.ru/adresniy-viveska-na-dom") Адресные вывеска на дом
            //-     .sites__block
            //-         a(href="http://adresnie-tablichki.ru/tablichki-s-adresom-na-dom") Таблички с адресом на дом
            //-     .sites__block
            //-         a(href="http://adresnie-tablichki.ru/tablichki-s-nazvaniem-ulicy") Таблички с названием улицы
            //-     .sites__block
            //-         a(href="http://adresnie-tablichki.ru/tablichki-s-nomerom-doma") Таблички с номером дома
    .foot__content
        a(href="#")
            img(src="/dist/image/main-logo.png", alt="Ares26.ru")


    