extends template/layout.pug

block metatags
  title= 'Адресные таблички на дом ' + city.city + ', заказать изготовление адресного знака на дом, купить'
  meta(name="description", content='Адресные таблички на дом ' + city.city + ', заказать изготовление адресного знака на дом, купить аншлаг, цена от 850 руб.')
  meta(name="keywords" content='Адресные таблички на дом ' + city.city + '>, заказать адресный знак на дом ' + city.prepositionalCity + ', купить аншлаг с номером дом')

block content
  include ./header.pug
  include ./form-calculation.pug
  include ./materials.pug
  include ./video.pug
  include ./seo-text.pug
  include ./reviews.pug
  include ./order-payment.pug
  include ./delivery.pug