extends ./../../template/layout.pug

block metatags
  title= 'Информационные стенды ' + city.city + ', заказать изготовление информационный стенд с карманами а4, а5, цена'
  meta(name="description", content='Информационные стенды ' + city.city + ', заказать изготовление информационный стенд с карманами а4, а5, цена от 1200 руб')
  meta(name="keywords" content='Информационные стенды ' + city.city + ', стенды с карманами а4, заказать изготовление информационных стендов ' + city.city)

block styles
  link(rel="stylesheet", type="text/css", href="/dist/css/stand.css")

block content
  include ./header.pug
  include ./form-calculation.pug
  include ./materials.pug
  include ./video.pug
  include ./seo-text.pug
  include ./reviews.pug
  include ./order-payment.pug
  include ./delivery.pug