section.materials#materials
    .container
        .materials__label
            h2= 'из каких материалов делаем стенды:'
        .materials__block
            .materials__block_el.col-lg-2.col-md-2.col-sm-6.col-xs-6
                img(src="/dist/image/pvh.png", alt="Изготовление из ПВХ")
                p Качественный ПВХ толщиной 4 мм
                
            .materials__block_el.col-lg-2.col-md-2.col-sm-6.col-xs-6
                img(src="/dist/image/aluminum.png", alt="Изготовление из алюминия")
                p Долговечный копозит

            .materials__block_el.col-lg-2.col-md-2.col-sm-6.col-xs-6
                img(src="/dist/image/orakal.png", alt="Оракал")
                p Фирменная немецкая пленка оракал, стандартная или световозвращающая

            .materials__block_el.col-lg-2.col-md-2.col-sm-6.col-xs-6
                img(src="/dist/image/plenka.png", alt="Ламинирующая пленка")
                p Ламинирующая пленка от выгорания

            .materials__block_el.col-lg-2.col-md-2.col-sm-6.col-xs-6
                img(src="/dist/image/freza.png", alt="Фрезеровка")
                p Фрезеровка остовы для таблички станком

            .materials__block_el.col-lg-2.col-md-2.col-sm-6.col-xs-6
                img(src="/dist/image/icon-info-system.png", alt="Изготовление стенда")
                p Опытные мастера изготовят качественную адресную табличку