header.header
    
    .container
        nav.navbar
            .row
                .menu.col-md-9.col-sm-12.col-xs-12
                    ul#menu.row
                        li.menu__item.col-md-4.col-sm-4.col-xs-6
                            a(href="#calculator") Конструктор табличек
                        li.menu__item.col-md-4.col-sm-4.col-xs-6
                            a(href="#pay") Оплата и доставка
                        li.menu__item.col-md-2.col-sm-2.col-xs-6
                            a(href="#materials") Материалы
                        li.menu__item.col-md-2.col-sm-2.col-xs-6
                            a(href="#contact") Реквизиты
                .contact.col-md-3.col-sm-12.col-xs-12
                    p
                        span.contact__mail pochta@adresnie-tablichki.ru
                    p
                        span.contact__callback Заказать обратный звонок
                    p
                        span.contact__phone +7(804)
                        span.contact__phone-end 333 70 60
        .header__title.row
            h1.col-md-9.col-md-offset-2!= 'Таблички с адресом дома '
                span.header__title_city= city.prepositionalCity