section.delivery#delivery
    .container
        .delivery__block
            .content__block
                .content__block_label
                    h2 Доставка
                .content__block_text
                    p Наша компания предлагает офисные таблички из металла и из пластика. Мы используем особые технологи производства, позволяющие нам быстро выполнять ваши заказы. Также гарантируем быструю курьерскую доставку.
                    p Для тех, кто не хочет дополнительно оплачивать услуги курьера, есть возможность самовывоза.
                    p= 'С информацией о возврате можно ознакомиться '
                        a(href="/vozvrat.txt") здесь
                        span .
            .delivery__block_logo
                img(src="/dist/image/delivery/cdek.png", alt="CDEK")
                img(src="/dist/image/delivery/dpd.png", alt="dpd")
                img(src="/dist/image/delivery/dhl.png", alt="DHL")
                img(src="/dist/image/delivery/postmailru.png", alt="Почта России")
            .delivery__block_man
                
                

