extends ./../../template/layout.pug

block metatags
  title= 'Таблички для офиса ' + city.city + ', заказать изготовление офисной таблички на кабинет ' + city.prepositionalCity + ', цена'
  meta(name="description", content='Таблички для офиса ' + city.city + ', заказать изготовление офисной таблички на кабинет ' + city.prepositionalCity + ', цена от 700 руб')
  meta(name="keywords" content='Таблички для офиса ' + city.prepositionalCity + ', офисные теблички ' + city.prepositionalCity + ', заказать изготовление табличек для офиса')
   
block styles
  link(rel="stylesheet", type="text/css", href="/dist/css/tabl.css")

block content
  include ./header.pug
  include ./form-calculation.pug
  include ./materials.pug
  include ./video.pug
  include ./seo-text.pug
  include ./reviews.pug
  include ./order-payment.pug
  include ./delivery.pug