extends ./../../template/layout.pug

block metatags
  title= 'Табличка класс энергоэффективности многоквартирного дома, заказать табличку категории энергоэффективности жилого дома, цена'
  meta(name="description", content='Табличка класс энергоэффективности многоквартирного дома, заказать табличку категории энергоэффективности a, b, c, d жилого дома, цена от 700 руб')
  meta(name="keywords" content='Купить табличку класс энергоэффективности дома ' + city.city + ', таблички категория энергоэффективности дома, класс энергоэффективности дома ' + city.city + ' купить')
    
block styles
  link(rel="stylesheet", type="text/css", href="/dist/css/tabl.css")

block content
  include ./header.pug
  include ./form-calculation.pug
  include ./materials.pug
  include ./video.pug
  include ./seo-text.pug
  include ./reviews.pug
  include ./order-payment.pug
  include ./delivery.pug
