section.pay#pay
    .container
        .pay__block
            .pay__block-first
                .content__block
                    .content__block_label
                        h2 Оплата
                    .content__block_text
                        p= 'Предлагаем таблички с указанием класса энергоэффективности для новостроек и домов старого жилищного фонда.'
                        p= 'У нас – доступные цены и скидки при заказе нескольких изделий. оплату можно разбить на два этапа: аванс и остальная часть, которую вы вносите, когда убедитесь, что изделие вас устраивает.'
                a(href="/oplata") 
                    .button Оплатить заказ
            .pay__block_logo
                img(src="/dist/image/pay/visa-master.png", alt="Visa Mastercard")
                img(src="/dist/image/pay/mir.png", alt="МИР")
                img(src="/dist/image/pay/paypal.png", alt="PayPal")
                img(src="/dist/image/pay/sberbank-online.png", alt="Сбербанк Онлайн")
                img(src="/dist/image/pay/megafon.png", alt="Мегафон")
                img(src="/dist/image/pay/beeline.png", alt="Билайн")
                img(src="/dist/image/pay/mts.png", alt="МТС")
                img(src="/dist/image/pay/tele2.png", alt="TELE2")
                img(src="/dist/image/pay/tinkoff.png", alt="Тинькофф банк")