extends ./../template/layout.pug

block metatags
  title= 'Заказать аншлаг на дом ' + city.city + ', заказать аншлаг с адресом дома ' + city.prepositionalCity
  meta(name="description", content='Заказать аншлаг на дом ' + city.city + ', заказать аншлаг с адресом дома ' + city.prepositionalCity + ', 16 форм, 7 цветов, изготовление от 1 дня')
  meta(name="keywords" content='Адресный аншлаг ' + city.city + ', заказать аншлаг с адресом, адресный аншлаг на дом')

block content
  include ./header.pug
  include ./form-calculation.pug
  include ./materials.pug
  include ./video.pug
  include ./seo-text.pug
  include ./reviews.pug
  include ./order-payment.pug
  include ./delivery.pug
  include ./contact.pug
  include ./map.pug