footer.foot
    
    .container
        .foot__breadcrumbs
            a(href="http://adresnie-tablichki.ru/") Главная
            span(style="padding: 0 10px 0 10px") /
            a(href="http://adresnie-tablichki.ru/sitemap") сайтмап

    .foot__content
        a(href="#")
            img(src="/dist/image/main-logo.png", alt="Ares26.ru")


    