extends ./../../template/layout.pug

block metatags
  title= 'Купить стенды по охране труда ' + city.city + ', уголок охрана труда на заказ ' + city.prepositionalCity + ', цена	'
  meta(name="description", content='Купить стенды по охране труда ' + city.city + ', уголок охрана труда на заказ ' + city.prepositionalCity + ', цена от 1200 руб')
  meta(name="keywords" content='Стенд охрана труда ' + city.city + ', заказать уголовок охрана труда ' + city.prepositionalCity + ', изготовление стендов охрана труда цена')

block styles
  link(rel="stylesheet", type="text/css", href="/dist/css/stand.css")

block content
  include ./header.pug
  include ./form-calculation.pug
  include ./materials.pug
  include ./video.pug
  include ./seo-text.pug
  include ./reviews.pug
  include ./order-payment.pug
  include ./delivery.pug