section.pay#pay
    .container
        .pay__block
            .pay__block-first
                .content__block
                    .content__block_label
                        h2 Оплата
                    .content__block_text
                        p= 'Изготовленные стенды и уголки по охране труда можно оплатить двумя платежами: небольшой аванс на расчетный счет, а остальную часть – при получении. Полная предоплата понадобится только в случае, если вы заказываете доставку почтовыми службами.'
                        p= 'Также не забывайте, что услуга курьерской доставки по адресу организации оплачивается дополнительно.'
                a(href="/oplata") 
                    .button Оплатить заказ
            .pay__block_logo
                img(src="/dist/image/pay/visa-master.png", alt="Visa Mastercard")
                img(src="/dist/image/pay/mir.png", alt="МИР")
                img(src="/dist/image/pay/paypal.png", alt="PayPal")
                img(src="/dist/image/pay/sberbank-online.png", alt="Сбербанк Онлайн")
                img(src="/dist/image/pay/megafon.png", alt="Мегафон")
                img(src="/dist/image/pay/beeline.png", alt="Билайн")
                img(src="/dist/image/pay/mts.png", alt="МТС")
                img(src="/dist/image/pay/tele2.png", alt="TELE2")
                img(src="/dist/image/pay/tinkoff.png", alt="Тинькофф банк")