header.header
    
    .container
        nav.navbar
            .row
                .contact.col-md-12.col-sm-12.col-xs-12
                    p
                        span.contact__mail pochta@adresnie-tablichki.ru
                    p
                        span.contact__callback Заказать обратный звонок
                    p
                        span.contact__phone +7(804)
                        span.contact__phone-end 333 70 60
        .header__title.row
            h1.col-md-9.col-md-offset-2!= 'Адресные таблички '
                span.header__title_city= city.prepositionalCity