extends ./../../template/layout.pug

block metatags
  title= 'Купить стенд для школы ' + city.city + ', заказать изготовление стенда для школы ' + city.prepositionalCity
  meta(name="description", content='Купить стенд для школы ' + city.city + ', заказать изготовление стенда для школы ' + city.prepositionalCity + ', цена от 2500 руб')
  meta(name="keywords" content='Купить стенд для школы ' + city.city + ', заказать стенд для школы ' + city.prepositionalCity + ', изготовление стендов для школы')
 
block styles
  link(rel="stylesheet", type="text/css", href="/dist/css/stand.css")

block content
  include ./header.pug
  include ./form-calculation.pug
  include ./materials.pug
  include ./video.pug
  include ./seo-text.pug
  include ./reviews.pug
  include ./order-payment.pug
  include ./delivery.pug