extends ./../../template/layout.pug

block metatags
  title= 'Купить табличку на этаж ' + city.city + ', заказать изготовление табличек с номерами этажей ' + city.prepositionalCity
  meta(name="description", content='Купить табличку на этаж ' + city.city + ', заказать изготовление табличек с номерами этажей ' + city.prepositionalCity + ', цена от 500 руб')
  meta(name="keywords" content='Таблички на этаж ' + city.city + ', таблички с нумерацией этажей ' + city.prepositionalCity + ', заказать изготовление табличек с номерами этажей')
         
block styles
  link(rel="stylesheet", type="text/css", href="/dist/css/tabl.css")

block content
  include ./header.pug
  include ./form-calculation.pug
  include ./materials.pug
  include ./video.pug
  include ./seo-text.pug
  include ./reviews.pug
  include ./order-payment.pug
  include ./delivery.pug