extends ./../../template/layout.pug

block metatags
  title= 'Заказать план эвакуации по ГОСТу ' + city.city + ', купить схему пожарной эвакуации в <Городе>, цена'
  meta(name="description", content='Заказать план эвакуации по ГОСТу ' + city.city + ', купить схему пожарной эвакуации ' + city.prepositionalCity + ', цена от 2500 руб')
  meta(name="keywords" content='Заказать планы эвакуации ' + city.city + ', схемы пожарной эвакуации по ГОСТ, изготовление планов пожайрной эвакуации')
          
block styles
  link(rel="stylesheet", type="text/css", href="/dist/css/plan.css")
  
block content
  include ./header.pug
  include ./form-calculation.pug
  include ./materials.pug
  include ./video.pug
  include ./seo-text.pug
  include ./reviews.pug
  include ./order-payment.pug
  include ./delivery.pug