section.materials#materials
    .container
        .materials__label
            h2= 'из каких материалов делаем схемы эвакуации:'
        .materials__block
            .materials__block_el.col-lg-2.col-md-2.col-sm-6.col-xs-6
                img(src="/dist/image/gost.png", alt="Соответствие ГОСТ")
                p Изготовление плана эвакуации в соответствии с ГОСТ Р 12.2.143-2009
                
            .materials__block_el.col-lg-2.col-md-2.col-sm-6.col-xs-6.col-lg-offset-1.col-md-offset-1
                img(src="/dist/image/plenka.png", alt="Фотолюминисцентная пленка")
                p Фотолюминисцентная (светонакапливающая) пленка соответствующая ГОСТу

            .materials__block_el.col-lg-2.col-md-2.col-sm-6.col-xs-6
                img(src="/dist/image/pvh.png", alt="Основа - пластик ПВХ")
                p Основа - качественный пластик ПВХ 3мм

            .materials__block_el.col-lg-2.col-md-2.col-sm-6.col-xs-6
                img(src="/dist/image/neisen.png", alt="Эстетичная рамка Neisen")
                p Обрамление - эстетичная рамка Neisen

            .materials__block_el.col-lg-2.col-md-2.col-sm-6.col-xs-6.col-lg-offset-1.col-md-offset-1
                img(src="/dist/image/print.png", alt="1440 dpi")
                p Качественная печать плана - 1440 dpi