section.contacts.clearfix#contact
    .contacts__details
        .contact__details-wr
            h2 реквизиты
            table
                tr
                    td Наименование
                    td ИП Хализов Александр Сергеевич
                tr
                    td ИНН
                    td 260806481409
                tr
                    td ОГРН
                    td 315265100027855
                tr
                    td Расчетный счет
                    td 40802810200000153158
                tr
                    td Банк
                    td АО «Тинькофф Банк»
                tr
                    td БИК Банка
                    td 044525974
    .contacts__map
        .contacts__map-wr(data-address=city.postAddress)
            #map(style="width: 100%; height: 100%")
            